@import "tailwindcss";

@layer base {
  body {
    background-color: #f5f3ef; /* Rasmdagi iliq bej fon */
    color: #0f172a;
  }
}@import "tailwindcss";

@layer base {
  body {
    background-color: #f5f3ef; /* Rasmdagi iliq bej fon */
    color: #0f172a;
  }
}